<div *ngIf="show">
<table class="dishes">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Type</th>
    <th>Description</th>
    <th>Price</th>

  </tr>
  <tr *ngFor="let dish of dishes ">
    <td>{{dish.id}}</td>
    <td>{{dish.name}}</td>
    <td>{{dish.type}}</td>
    <td>{{dish.description}}</td>
    <td>{{dish.price}}</td>
  </tr>
</table>
<table class="customer" *ngIf="order.customer != undefined">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>
  <tr>
    <td>{{order.customer.firstName}}</td>
    <td>{{order.customer.lastName}}</td>
    <td>{{order.customer.address}}</td>
    <td>{{order.customer.phone}}</td>
    <td>{{order.customer.email}}</td>
  </tr>
</table>
</div>
