.details{
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  min-height: 20%;
}
th{
  background-color: #0074D9;
  color: white;
}
td{
  text-align: center;
}
.customer{
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  min-height: 20%;
}
