th{
  background-color: #4CAF50;
  color: white;
}
.basket{
  width: 100%;


  table-layout: auto;
  border-collapse: collapse;
  min-height: 20%;
}
.confirmBtn{
  float: right;
}
.btn{
  background-color: #4CAF50;
  border-radius: 8px;
  color: white;
}

input{
  width: 50px;
}

