<div class="divBasket">
  <table class="basket">
    <tr>
      <th> Id </th>
      <th> Amount
        <img class="arrow" (click)="sort('price','up')"src="../../assets/arrowUp.png" width="20" height="20">
        <img class="arrow" (click)="sort('price','down')"src="../../assets/arrowDown.png" width="20" height="20">
      </th>
      <th> Dishes </th>
      <th>Status
        <img class="arrow" (click)="sort('status','up')"src="../../assets/arrowUp.png" width="20" height="20">
        <img class="arrow" (click)="sort('status','down')"src="../../assets/arrowDown.png" width="20" height="20">
      </th>

    </tr>
    <tr *ngFor="let order of orders">
      <td>{{order.id}}</td>
      <td>{{order.amount}}</td>
      <td>{{order.dishIds}}</td>
      <td>{{order.status}}</td>
      <td >
        <img  [id]="'detailBtn' + order.id"  (click)="showDetail(order)"
              src="../assets/details.png" height="30" width="30">
      </td>
      <td >
        <select [id]="'status' + order.id" name="cars" >
          <option value="new">New</option>
          <option value="preparing">Preparing</option>
          <option value="wait">Wait</option>
          <option value="delivering">Delivering</option>
          <option value="delivered">Delivered</option>
        </select>
        <button class="btn" [id]="'statusBtn' + order.id" (click)="changeStatus(order)">Change status</button>
        <button class="btn" [id]="'deleteBtn' + order.id" (click)="delete(order)">Delete</button>
      </td>

    </tr>

  </table>
</div>
<br>
<app-order-detail [order]="order" [show]="detail"></app-order-detail>

