.menu {
  align-content: center;
  justify-content: center;
  width: 100%;
}

th {
  background-color: #0074D9;/*#4CAF50;*/
  color: white;
}

.btn {
  background-color: white;
  width: 50px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.menuTable {
  width: 60%;
  float: right;
  margin-left: 5%;
  margin-right: 5%;
}

.basket {
  float: left;
  width: 25%;
  margin-left: 5%;
  /*min-width: border-box;*/
}

.menuBtn {
  background-color: #0074D9;/*#4CAF50;*/
  border-radius: 8px;
  color: white;

}
.menuBtns{
  justify-content: space-around;
  text-align: center;
  width: 70%;
  float: right;
}


