<div class="menuBtns">
  <button class="menuBtn" type="button" (click)="getPizza()">Pizza</button>
  <button class="menuBtn" type="button" (click)="getNoodles()">Noodles</button>
  <button class="menuBtn" type="button" (click)="getDrinks()">Drinks</button>

</div>


<div class="menuTable">
  <table class="menu">
    <tr>
      <th>Nr</th>
      <th>  Name
        <img class="arrow" (click)="sort('name','up')"src="../../assets/arrowUp.png" width="20" height="20">
        <img class="arrow" (click)="sort('name','down')"src="../../assets/arrowDown.png" width="20" height="20">
      </th>
      <th> Type </th>
      <th> Description </th>
      <th>Price
        <img class="arrow" (click)="sort('price','up')"src="../../assets/arrowUp.png" width="20" height="20">
        <img class="arrow" (click)="sort('price','down')"src="../../assets/arrowDown.png" width="20" height="20">
      </th>

    </tr>
    <tr *ngFor="let dish of dishes; let i = index" [attr.data-index]="i">
      <!--<tr *ngFor="let dish of menuService.dishes$ | async " >-->
      <td><!--{{dish.id}}-->{{i+1}}</td>
      <td>{{dish.name}}</td>
      <td>{{dish.type}}</td>
      <td>{{dish.description}}</td>
      <td>{{dish.price}}</td>
      <td class="btn">
        <!--<img   [id]="'add' + dish.id" *ngIf="!login" (click)="addToBasket(dish)"
              src="../assets/add.png" height="42" width="42">-->
        <img [id]="'add' + dish.id" *ngIf="!login" (click)="addToBasket(dish)"
             src="../assets/order.png" height="42" width="42">
        <img [id]="'detail' + dish.id" *ngIf="login" (click)="showDetail(dish.id)"
             src="../assets/details.png" height="42" width="42">

      </td>
    </tr>
  </table>
</div>
<div class="basket" *ngIf="!login">
  <app-basket></app-basket>
</div>



