<table class="detail">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Type</th>
    <th>Description</th>
    <th>Price</th>
    <th>Availability</th>

  </tr>
  <tr *ngIf="dish" >
    <td>{{dish.id}}</td>
    <td>{{dish.name}}</td>
    <td>{{dish.type}}</td>
    <td>{{dish.description}}</td>
    <td>{{dish.price}}</td>
    <td>{{dish.isAvailable}}</td>
  </tr>
</table>
<button class="btn" (click)="changeAvailability(dish)">Change availability</button>
<button class="btn" (click)="edit(dish)">Edit</button>
<button class="btn" (click)="delete(dish)">Delete</button>
