th{
  background-color: #0074D9;
  color: white;
}
.basket{
  width: 100%;
  border: #0074D9 solid ;

  table-layout: auto;
  border-collapse: collapse;
 min-height: 20%;
}
.confirmBtn{
  float: right;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
