<table class="basket" *ngIf="!login">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Description</th>
    <th>Price</th>

  </tr>
  <tr *ngFor="let dish of basket" >
    <td>{{dish.name}}</td>
    <td>{{dish.type}}</td>
    <td>{{dish.description}}</td>
    <td>{{dish.price}}</td>
  </tr>
  <tr>
    <td></td>
  </tr>

  <tr>
    <th>Amount: </th>
    <th></th>
    <th></th>
    <th>{{amount}}</th>

  </tr>
</table>
<img  class="deleteBtn" *ngIf="basket.length>0" (click)="remove()"
      src="../assets/delete.png" height="42" width="42">
<img  class="confirmBtn" *ngIf="basket.length>0" (click)="order()"
      src="../assets/cash.png" height="42" width="42">
