<div style="text-align:center">
  <h1 class="title">
    PIZZERIA
  </h1>
  <img  class="logBtn" *ngIf="!isLogin" (click)="login()"  src="../assets/login.png" height="42" width="42">
  <img  class="logBtn" *ngIf="isLogin" (click)="logout()" src="../assets/logout.png" height="42" width="42">

</div>
<nav>

  <img  class="menuBtn"  (click)="navigateToMenu()"  src="../assets/menu.png" height="42" width="42">
  <img  *ngIf="isLogin" class="orderBtn"  (click)="navigateToOrder()"  src="../assets/orders.png" height="42" width="42">
  <img  *ngIf="isLogin" class="orderBtn"  (click)="addDish()" src="../assets/addDish.png" height="40" width="40">


</nav>
<router-outlet></router-outlet>
